{% load static %}

<!-- Side Navigation for Categories -->
<div class="category-sidebar">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#categoriesCollapse" aria-expanded="false" aria-controls="categoriesCollapse">
        Categories
    </button>

    <!-- Collapsible content -->
    <div class="collapse" id="categoriesCollapse">
        <div class="card card-body">
            <ul class="nav flex-column">
                {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_view' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
